@font-face {
    font-family: 'CMUClassicalSerifItalic';
        src: url('assets/fonts/CMUClassicalSerifItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }

@font-face {
    font-family: 'CMUSerifBold';
        src: url('assets/fonts/CMUSerifBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
      }

@font-face {
    font-family: 'CMUSerifBoldItalic';
        src: url('assets/fonts/CMUSerifBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
      }

@font-face {
    font-family: 'CMUSerifExtraBoldSlanted';
        src: url('assets/fonts/CMUSerifExtraBoldSlanted.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
      }

@font-face {
    font-family: 'CMUSerifExtraRomanSlanted';
        src: url('assets/fonts/CMUSerifExtraRomanSlanted.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }

@font-face {
    font-family: 'CMUSerifItalic';
        src: url('assets/fonts/CMUSerifItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }

@font-face {
    font-family: 'CMUSerifRoman';
        src: url('assets/fonts/CMUSerifRoman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'CMUSerifUprightItalicUprightItalic';
        src: url('assets/fonts/CMUSerifUprightItalicUprightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }

 /* The following rules are deprecated. */

@font-face {
    font-family: 'CMU Classical Serif';
        src: url('assets/fonts/CMUClassicalSerifItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }



@font-face {
    font-family: 'CMU Serif';
        src: url('assets/fonts/CMUSerifBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
      }



@font-face {
    font-family: 'CMU Serif';
        src: url('assets/fonts/CMUSerifBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
      }



@font-face {
    font-family: 'CMU Serif Extra';
        src: url('assets/fonts/CMUSerifExtraBoldSlanted.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
      }



@font-face {
    font-family: 'CMU Serif Extra';
        src: url('assets/fonts/CMUSerifExtraRomanSlanted.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }



@font-face {
    font-family: 'CMU Serif';
        src: url('assets/fonts/CMUSerifItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }



@font-face {
    font-family: 'CMU Serif';
        src: url('assets/fonts/CMUSerifRoman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }



@font-face {
    font-family: 'CMU Serif Upright Italic';
        src: url('assets/fonts/CMUSerifUprightItalicUprightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }


body {
	font-family: "CMUSerifRoman", sans-serif;
}